accelerate
pydantic
bitsandbytes
langchain
langchain-core
langchain-community
langchain-experimental
langchain-huggingface
langchain-ollama
langgraph
google-search-results
transformers
requests
numexpr
wikipedia
torch
numpy
pandas
scikit-learn
matplotlib
seaborn
notebook
colab-xterm
